
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>oggetto random coffee! Новый мэтч!</title>
</head>
<body>
    <h1>Ура! Пора приятно провести время с коллегой за чашечкой кофе.</h1>
    <p>Привет,</p>
    <p>Тебе подобрана пара! Не забудь подтвердить своё участие через сервис RandomCoffee.</p>
    <a href="">Подтвердить</a>
    <p>С наилучшими пожеланиями</p>
    <p><span>oggetto & xeonexus team</span></p>

    <style>
      body {
        background: #333;
        font-family: "Montserrat", sans-serif;
        color: #fff;
        text-align: center;
      }
      span {
        color: #FFD912;
        font-weight: bold;
      }
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 18px
      }
      a {
        box-sizing: border-box;
        padding: 10px 15px;
        background: #FFD912;
        border-radius: 50px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        margin: 15px 0px;
      }
    </style>
</body>
</html>
